.header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 99%;
    padding: 0.8rem 1.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: linear-gradient(90deg, #00bcd4, #003a47, #001f2f); 
    border-radius: 10px;
    backdrop-filter: blur(6px);

    z-index: 1000;
}

.header-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.header-list-nav {
    display: flex;
    gap: 1.5rem;
}

.header-list-element {
    list-style: none;
}

.header-list-element-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.header-list-element-link:hover {
    color: #00bcd4;
}

.header-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.header-button {
    background-color: #00bcd4;
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.header-button:hover {
    background-color: #0097a7;
}

@media (max-width: 768px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        gap: 1rem;
    }
}