.customButton {
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: #00bcd4;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #00bcd4;
  background: transparent;
  margin-top: 1rem;
}

.customButton:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #70bdca;
  box-shadow: 4px 5px 17px -4px #268391;
}

.customButton::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #00bcd4;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.customButton:hover::before {
  width: 250%;
}

.customButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  color: #888888;
  outline: 2px solid #888888;
  box-shadow: none;
  transform: none;
}

.customButton:disabled::before {
  background-color: transparent;
  width: 0;
}